<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeStash3.BLL_Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeStash3.BLL_Tests.Properties.Settings>
            <setting name="jsonDB" serializeAs="String">
                <value>testdb.txt</value>
            </setting>
        </CodeStash3.BLL_Tests.Properties.Settings>
    </userSettings>
</configuration>