<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeStash3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CodeStash3.Properties.Settings>
            <setting name="DataBase" serializeAs="String">
                <value>jsondb.txt</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>SQLite</value>
            </setting>
            <setting name="repoType" serializeAs="String">
                <value>sql</value>
            </setting>
        </CodeStash3.Properties.Settings>
    </userSettings>
</configuration>